@mixin fastDisplay ($x, $y, $z) {
  display: flex;
  align-items: center;
  justify-content: $x;
  flex-flow: $y $z;
}

$dark: rgb(15, 15, 15);


.home-page {
  @include fastDisplay(space-evenly, column, nowrap);
  background-color: $dark;
  position: relative;
  height: 100vh;
  width: 99vw;

  h1 {
    color: white;
  }
}